body {
    font-family: Arial, sans-serif;
}

.sidebar .nav-item {
    margin-bottom: 15px;
}

.sidebar .nav-item button {
    width: 100%;
    text-align: left;
}

#content-area h2 {
    color: #004080;
}

footer {
    background-color: #004080;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
